<footer class="footer">
  <div class="container">
    <div class="footer-box">

        <br />
        <br />
        <br />
        <div class="footer-bottom">

        </div>
    </div>
    <!--/footer-box-->
  </div>
</footer>