<footer class="footer">
  <div class="container">
    <div class="footer-box">

        <div class="row ft-widget-top">
             <div class="col-md-6">
                  <div class="ft-tagline">
                       <p>Elevate your lifestyle</p>
                       <p>Do it the <strong>GoHiSO</strong> way</p>

                  </div>
                  <div class="row">
                      <div class="col-md-6">
                           <select id="lang-selector" name="lang-selector" class="select-gh">
                                <option value="en">English</option>
                                <option value="fr">France</option>
                                <option value="in">Italiano</option>
                          </select>
                      </div>
                      <div class="col-md-6">
                           <select id="currency-selector" name="currency-selector" class="select-gh">
                                <option value="usd">USD</option>
                                <option value="eu">EURO</option>
                                <option value="jpy">YEN</option>
                          </select>
                      </div>
                  </div>

             </div>
             <div class="col-md-6">
                  <div class="ft-about">
                       <h3 class="brand-color">GOHISO</h3>
                       <p>Eu eleifend petentium incorrupte cum. Nonumy postea malorum ex pro, ne luptatum accommodare vis. Ex vim illum lorem, ad est suas mediocritatem. Duo in dolor facilisi praesent. Duo ex impetus ornatus accumsan, quem nonumes vim eu.</p>
                  </div>
             </div>
        </div>

        <div class="ft-menu">
              <h4>Questions? Contact Us.</h4>
              <div class="row ft-menu-nav">
                  <div class="col-md-3">
                       <a href="javascript:void(0)">FAQ</a>
                       <a href="javascript:void(0)">PRIVACY</a>
                  </div> 
                  <div class="col-md-3">
                       <a href="javascript:void(0)">BLOG</a>
                       <a href="javascript:void(0)">TERM OF SERVICE</a>
                  </div> 
                  <div class="col-md-3">
                       <a href="javascript:void(0)">JOB</a>
                       <a href="javascript:void(0)">HELP CENTER</a>
                  </div> 
                  <div class="col-md-3">
                       <a href="javascript:void(0)">ACCOUNT</a>
                       <a href="javascript:void(0)">COOKIE PREFERENCES</a>
                  </div>  
              </div>  

              <br class="clear" />
        </div>
        
        <div class="row">

            <div class="footer-bottom">
                <div class="ft-logo pull-left">
                    <h5 class="brand-logo">&copy; GOHISO</h5> 
                </div>
        
                <div class="ft-social pull-right">
                    <ul>
                       <li><a href="#"><i class="fa fa-facebook-square"></i></a></a></li>
                       <li><a href="#"><i class="fa fa-twitter"></i></a></a></li>
                       <li><a href="#"><i class="fa fa-instagram"></i></a></a></li>
                    </ul>
                </div>

            </div>
            <!--/footer-bottom-->

        </div>

    </div>
    <!--/footer-box-->
  </div>
</footer>

<script type="text/javascript">

    $('select.select-gh').select2({width:200,minimumResultsForSearch:-1});
    $('b[role="presentation"]').hide();
    $('.select2-selection__arrow').append('<i class="fa fa-chevron-down"></i>');

    $('.ghs-slider').slick({
        dots: false,
        infinite: true,
        speed: 300,
        slidesToShow: 3,
        variableWidth: true,
        prevArrow: '<span class="slicknav slick-prev"><i class="fa fa-chevron-left"></span>',
        nextArrow: '<span class="slicknav slick-next"><i class="fa fa-chevron-right"></span>',
        responsive: [
        {
          breakpoint: 900,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4,
            infinite: true,
          }
        },        
        {
          breakpoint: 680,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
          }
        },
      ]
    });    

    $('#ghscards-featured-loc').slick({
        dots: false,
        infinite: true,
        speed: 300,
        slidesToShow: 6,
        variableWidth: true,
        prevArrow: '<span class="slicknav slick-prev"><i class="fa fa-chevron-left"></span>',
        nextArrow: '<span class="slicknav slick-next"><i class="fa fa-chevron-right"></span>'
    });



</script>