<div class="container">
	<div class="row">
	      <div class="hero-box">
	          <div class="hero-quicksearch">
	              <h1 class="brand-color">Elevate your lifestyle</h1>
	              <h2>Do it the GoHiSo way!</h2>
	          </div>
	      </div>
	</div>
</div>
