<div class="panel panel-default">
	<div class="panel-heading">
		Create your beautiful place
	</div>
	<div class="panel-body">
		<div class="container">
			<%= form_for @experience do |f| %>

			<% end %>
		</div>
	</div>
</div>