<div class="container">
	<h1>Review guest requirements</h1>


	<h2>Age</h2>
	<p>All guests must be at least 18 years old and children can't come along</p>
	<hr>
	<h2>Government ID</h2>
	<p>You'll need to take a selfie and match it to the photo on your ID. This is so GoHiSo can confirm who's actually going on the experience. You'll have to do this once.</p>
</div>