<%= form_for([@experience, @experience.reservations.new]) do |f| %>
	<div class="row">
		<%= f.hidden_field :experience_id, value: @experience.id %>
		<%= f.hidden_field :price, value: @experience.price %>
	  	<div class="col-xs-9"><span class="list-time">Thurs, May 18 · 5:00 PM − 7:30 PM</span></div>
		<div class="col-xs-3"><%= f.submit "Book", class: "btn btn-primary" %></div>
	</div>
	

<% end %>