// Place all the styles related to the Experiences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main-color: #EA5B67;


.item-name {
	font-size: 1.5em;
	color: $main-color;
	text-transform: uppercase;
	font-weight: 600
}

.experience-image {
	max-width: 100%
}