<div class="row nested-fields">
	<div class="col-sm-9 col-md-10">
		<%= f.input :answer, as: :string %>	
	</div>
	<div class="col-sm-3 col-md-2">
		<%= link_to_remove_association "Remove Ans", f, class: "btn btn-danger btn-sm" %>
	</div>
</div>